body {
  background-color: #fff;
}

h1 {
  margin: 20px;
  text-align: center;
}

hr {
  margin: 20px;
  color: #ddd;
}

.container {
  margin: 20px;
}

.header {
  align-items: center;
  display: flex;
  justify-content: center;
}

.separator {
  display: flex;
  flex: 1;
}

.left-side {
  flex: 1;
  overflow: hidden;
}

.right-side {
  flex: 1;
  overflow: hidden;
  padding-left: 10px;
}
.add-button {
  margin: 20px;
}

.all-search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}

#search-bar {
  width: 500px;
}
