body {
  background-color: #fff;
}

h1 {
  margin: 20px;
  text-align: center;
}

hr {
  margin: 20px;
  color: #ddd;
}

.container {
  margin: 20px;
}

.header {
  align-items: center;
  display: flex;
  justify-content: center;
}

.add-button {
  margin: 20px;
}

.edit-mode-container {
  display: flex;
  align-items: center;
}

.edit-mode {
  border-radius: 2px;
  border: 1px solid #ddd;
  padding: 5px;
  padding-left: 15px;
  height: 30px;
  margin-right: 5px;
  font-size: 15px;
  width: 100%;
}

.edit-mode:focus {
  outline: none;
}

.separator {
  display: flex;
  flex: 1; /* Isso faz com que o separator ocupe o restante do espaço vertical disponível */
}

.left-side {
  flex: 1; /* Isso faz com que o left-side ocupe 50% do espaço disponível no separator */
  overflow: hidden; /* Para garantir que não haja overflow se o conteúdo for grande */
}

.right-side {
  flex: 1; /* Isso faz com que o right-side ocupe 50% do espaço disponível no separator */
  overflow: hidden; /* Para garantir que não haja overflow se o conteúdo for grande */
}

#search-bar {
  width: 500px;
}

#map {
  height: 500px;
  width: 100%;
}
